---
layout: base
navigationOptions:
  listElement: "ul"
  listItemElement: "li"
  listClass: "menu"
  listItemClass: "menu-item"
---
<div class='flex flex-col items-center bg-slate-500'>

  {% include "topmenu.njk" %}

  <div class='flex flex-row text-white mt-6 mb-6'>
    <div class="font-headline text-2xl">Krum Bunny</div>
  </div>
</div>

{{ collections.all | eleventyNavigation | eleventyNavigationToHtml(navigationOptions) | safe }}

<div class="flex flex-col items-center">

  <article class='prose p-8'>
    {{ content | safe }}
  </article>
</div>
